@import "../index.module.css";

.img-block {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
  text-align: center;
}

.img-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}

.img-display-wrapper {
  width: fit-content;
  white-space: pre-wrap;
}
.img-alt {
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--white);
}
