@import "../index.module.css";

.select {
  background-color: black;
  color: var(--white);
  margin: 0.5rem;
  position: relative;
}

.selected-option {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
}

.option {
  padding: 0.5rem;
  background-color: black;
}
